<div class="container">

  <h1>Anagram Finder</h1>
  <% if @anagrams %>
    <% p @anagrams %>
    <p>Matching anagrams:</p>
    <ol>
      <% @anagrams.each do |ana| %>
       <li><%=  ana %></li>
      <% end %>
    </ol>
  <% end %>
  <form action="/" method="post">
    Enter word to find all anagrams: 
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Find them">
  </form>







</div>
