<div class="container">
  <h1>Anagram Finder</h1>
  <% if @anagrams %>
    <p>Matching anagrams: <% @anagrams.each do |ana| %></p>
       <p>  <%= ana %></p>
    <% end %>
  <% end %>

  <form action="/word" method="post">
    Enter word to find all anagrams: 
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Find them">
  </form>







</div>
